In [1]:
import pandas as pd
import numpy as np
users=[
        {"id":0,"name": 'Saqib'},
        {"id":1,"name": 'Abid'},
        {"id":2,"name": 'Muza'},
        {"id":3,"name": 'Mustaq'},
        {"id":4,"name": 'Sai'},
        {"id":5,"name": 'Taha'},
        {"id":6,"name": 'Umair'}
        ]
friendship = [(0,1),(0,2),(0,3),(0,4),(0,5),(0,6),
              (1,2),(1,3),(1,4),(1,5),
              (2,3),(2,4),(2,5),
              (3,4),(5,6)]

In [2]:
print(users)
friendship
df = pd.DataFrame(users)
df["Friends"]=''

[{'id': 0, 'name': 'Saqib'}, {'id': 1, 'name': 'Abid'}, {'id': 2, 'name': 'Muza'}, {'id': 3, 'name': 'Mustaq'}, {'id': 4, 'name': 'Sai'}, {'id': 5, 'name': 'Taha'}, {'id': 6, 'name': 'Umair'}]

In [3]:
df

   id    name Friends
0   0   Saqib
1   1    Abid
2   2    Muza
3   3  Mustaq
4   4     Sai
5   5    Taha
6   6   Umair

In [8]:
for i, j in friendship:
    print(df[df['id']==i]['Friends'].values)

['']
['']
['']
['']
['']
['']
['']
['']
['']
['']
['']
['']
['']
['']
['']

In [10]:
df

   id    name                          Friends
0   0   Saqib  Abid,Muza,Mustaq,Sai,Taha,Umair
1   1    Abid       Saqib,Muza,Mustaq,Sai,Taha
2   2    Muza       Saqib,Abid,Mustaq,Sai,Taha
3   3  Mustaq              Saqib,Abid,Muza,Sai
4   4     Sai           Saqib,Abid,Muza,Mustaq
5   5    Taha            Saqib,Abid,Muza,Umair
6   6   Umair                       Saqib,Taha

In [9]:

for i, j in friendship:
    #users[i]["friends"].append(users[j]['name']) # add i as a friend of j
    #users[j]["friends"].append(users[i]['name']) # add j as a friend of i 
    if (df[df['id']==i]['Friends'].values) == '':
         
         df.iloc[df[df['id']==i].index[0],2] = df[df['id']==j]['name'].values
    else:
         df.iloc[df[df['id']==i].index[0],2]= df.iloc[i,2]+','+df[df['id']==j]['name'].values
    if (df[df['id']==j]['Friends'].values) == '':
         
         df.iloc[j,2] = df[df['id']==i]['name'].values
    else:
         df.iloc[j,2]= df.iloc[j,2]+','+df[df['id']==i]['name'].values

In [182]:
def mutual(user, Friends):
 FrndList = []
 for other_user in Friends:
       if other_user in list(df.iloc[df[df['name']==user].index[0],2].split(",")):
        print("%s and %s are already Friends"%(user,other_user))
       else:
        for i in list(df.iloc[df[df['name']==user].index[0],2].split(",")):
        
            if other_user in list(df.iloc[df[df['name']==i].index[0],2].split(",")):
            
                FrndList.append(i)
        if len(FrndList)==0:
            print("No Mutual Friends between them")
        else:
            stri = ",".join(FrndList)
            print("%s may know %s throgh one of his friends %s" %(user,other_user,stri))

In [184]:
mutual('Sai',['Muza','Taha'])

Sai and Muza are already Friends
Sai may know Taha throgh one of his friends Saqib,Abid,Muza